
.fade-in-up {
    &.active{
        animation: fadeInUp;
        animation-duration: 2s;
        animation-timing-function: ease forwards;
    }
}

.fade-in {
    animation: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


@keyframes slideDown {
  0% {
      transform: translateY(0rem);
  }

  100% {
    transform: translateY(5rem);
  }
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
        // transform: translateY(7rem);
        transform: translate3d(0, 7rem, 0);

    }
 
    100%{
        opacity: 1;
        // transform: translateY(0);
        transform: translate3d(0, 0, 0);

    }

}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
   
    100%{
        opacity: 1;
    }

}



// keyframes
@keyframes slide-in {
    100% {
      transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes slide-in {
    100% {
      -webkit-transform: translateX(0%);
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }